[Unit]
Description=OneTimeSecret Service
After=network.target

[Service]
User=onetimesecret
Group=onetimesecret
WorkingDirectory=/opt/onetimesecret
Environment="PATH=/opt/onetimesecret/venv/bin"
ExecStart=/opt/onetimesecret/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target
